body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url(map.jpeg);
    background-size: auto;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: aquamarine;
}

body > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: 2px solid black;
    width: 20vh;
    padding: 0;
}
h5, p {
    margin: 0;
}
.user-icon {
    border-radius: 50%;
    width: 50px;
    margin: auto;
}
.user-info {
    background-color: bisque;
    text-align: center;

}
