ul {
    list-style: none;

}

li {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2px;
}
li * {
    margin: 0;
    padding: 0;
    height: 20px;
    position: relative;
}
li i {
    width: 20px;
    height: 20px;
}
li *::before {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center; 
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: rgb(208, 95, 121);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    font-size: 24px;
    flex-direction: column;

}

ul {
    display: flex;
    flex-direction: column;
    width: 30vh;
    /* border: 1px solid; */


}
ul > li {
    flex-direction: row;

}

.to-do-form {
    background-color: rgb(225, 182, 185);
}
